.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff5e3;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title{
  font-size: 3rem;
  color: #bd0404;
}
button{
  background-color: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 2rem;
  color: #bd0404;
  border-color: #bd0404;
}

button:hover{
  background-color: #bd0404;
  color: white;
}

.box{
  width: 400px;
  height: 400px;
  background-color: #db0a0a;
}
.container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.container div{
  width: 200px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.rect1{
  background-color: red;
  color: white;
}
.rect2 {
  background-color: yellow;
  color: black;
  
}
.rect3 {
  background-color: green;
  color: white;
}
.rect4 {
  
  background-color: blue;
  color: orange;
}